
@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/RockwellStd.otf') format('opentype'), url('../fonts/RockwellStd.svg#RockwellStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/RockwellStd-Bold.otf') format('opentype'), url('../fonts/RockwellStd-Bold.svg#RockwellStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/*web fonts above HAVE TO BE FIRST!*/


/* App-wide */
*{
	font-family: 'Rockwell';
	color:#2D27IF;
}

.header {
	background: url(../images/header.png);
}
.footer {
	background: url(../images/footer.png);
}

.main, .customPanel {
	background: url(../images/background.png);
}

/* Home view */
.homeContainer {
	display: table;
	height: 350px;
	#position: relative;
	overflow: hidden;
}
.homeAbsolute {
	#position: absolute;
	#top: 50%;
	display: table-cell;
	vertical-align: middle;
}
.homeRelative {
	#position: relative;
	width:100%;
	margin-left:80px;
	#top: -50%;
}
.homeCircle {
	text-align:center;
        font-weight: bold;
        font-size: 30px;
	height:150px;
	width:150px;
	border-radius: 100px;
	border: solid 2px black;
	background-image:url('../images/start_image.jpg'); 
}

.highlight-off {
        text-shadow: 0 0 0.2em #FF9,  0 0 0.2em #FF9
}

.highlight-on {
        text-shadow: 0 0 0.2em #BA4809,  0 0 0.2em #BA4809
}


/* Dichotomous Key */
.key-item {
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 10px 0;
	background: none;
	font-family: Courier;
	color: #27221b;
}

.key-option-or {
	text-align: center;
	width: 100%;
	margin: 0px;
	font-style: italic;
	font-size: 12px;
}

.key-item img{
    height: 80px;
}

/* Specimen */ 
.specimenName { font-weight:bold; text-decoration:underline; text-align:center; padding-top:5px; }
